/* Reset default browser styles and set a consistent base */
body, html {
  padding: 0;
  margin: 0;
  height: 100%; /* Full height for the body and html to ensure the map uses all available space */
  font-family: 'Arial', sans-serif; /* Optional: Set a default font for any text */
}

/* Map container styles */
#map {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  position: relative; /* For positioning of any overlays or additional elements on the map */
}

/* Add styles for the map's controls and legends */
.legend {
  padding: 6px 8px;
  font-size: 14px;
  line-height: 24px;
  color: #555;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend h4 {
  text-align: center;
  margin: 0 0 5px;
  font-weight: bold;
  color: #333;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 1px solid #777;
}

/* Add styles for any buttons or controls you might add */
.button {
  background-color: #008CBA; /* Button Color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Responsive design adjustments */
@media screen and (max-width: 600px) {
  .legend {
    font-size: 12px;
    line-height: 18px;
  }
}
